@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel

@{
    string culture = ViewBag.culture;
    var topCustoms = await Mix.Cms.Lib.MixCmsHelper.GetNavigation("customers", ViewBag.culture, Url);
    var customers = Mix.Cms.Lib.MixCmsHelper.GetModule("customers", ViewBag.culture);

    string assetFolder = Mix.Cms.Lib.MixCmsHelper.GetAssetFolder(ViewBag.culture);
}

<!-- Customers -->
@if (customers != null)
{
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h5>@Html.Raw(@Model.Description)</h5>

                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                @if (topCustoms != null)
                                {
                                    foreach (var item in topCustoms.MenuItems)
                                    {


                                        <div class="swiper-slide">
                                            <div class="image-container">
                                                <img class="img-responsive" src="@item.Icon" alt="alternative">
                                            </div>
                                        </div>



                                    }
                                }



                            
                        </div> <!-- end of swiper-wrapper -->
                    </div> <!-- end of swiper container -->
                </div> <!-- end of slider-container -->
                <!-- end of image slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
}
<!-- end of customers -->
