@using Mix.Cms.Lib
@using Mix.Cms.Lib.Services
@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel

@{
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
    string templateFolder = MixCmsHelper.GetTemplateFolder(ViewBag.culture);
    var video = MixCmsHelper.GetModule("video", ViewBag.culture);
    
}
<!-- Video -->

<div class="basic-3">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <!-- Video Preview -->
                <div class="image-container">

                    <img class="img-fluid" src="@Model.AttributeData.Data.Obj.GetValue("banner")" alt="alternative">
                </div> <!-- end of image-container -->
                <!-- end of video preview -->
                <center>
                    <p>@Html.Raw(@Model.Description)</p>
                </center>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        @*
        <div class="row" style="margin-top:1.5rem;">
            <div class="image-container">

                <img class="img-fluid" src="@Model.AttributeData.Data.Obj.GetValue("banner2")" alt="alternative">
            </div> <!-- end of image-container -->
        *@
    </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of video -->
