@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{

    string assetFolder = Mix.Cms.Lib.MixCmsHelper.GetAssetFolder(ViewBag.culture);
    var cates = await Mix.Cms.Lib.MixCmsHelper.GetNavigation("footer", ViewBag.culture, Url);
    var social = await Mix.Cms.Lib.MixCmsHelper.GetNavigation("social", ViewBag.culture, Url);
}


<footer class="yb-main-footer-wrapper">
    <div class="waveHorizontals">
        <div id="waveHorizontal1" class="waveHorizontal" data-uk-img data-src="/content/templates/freda/assets/fredahtml-20/src/img/bg/wave1.svg"></div>
        <div id="waveHorizontal2" class="waveHorizontal" data-uk-img data-src="/content/templates/freda/assets/fredahtml-20/src/img/bg/wave2.svg"></div>
        <div id="waveHorizontal3" class="waveHorizontal" data-uk-img data-src="/content/templates/freda/assets/fredahtml-20/src/img/bg/wave3.svg"></div>
    </div>
    <a href="#body-app" class="uk-visible@s yb-totop yb-inner-link" data-uk-totop></a>
    <div class="yb-main-footer">
        <div class="uk-container">
            <div data-uk-grid class="uk-child-width-1-2@s">
                <div class="uk-margin-remove uk-text-left@s">
                    &copy; @DateTime.Now.Year @(Mix.Cms.Lib.Services.MixService.GetConfig<string>("SiteName", ViewBag.culture))
                </div>
                <div class="uk-margin-remove uk-text-right@s">
                    <div class="yb-footer-social">
                        @if (social != null) {
                            foreach (var item in social.MenuItems) {
                                <a href="@item.Uri">@item.Title</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- end main footer -->
