@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    string culture = ViewBag.culture;

    string assetFolder = Mix.Cms.Lib.MixCmsHelper.GetAssetFolder(ViewBag.culture);
    var header = MixCmsHelper.GetModule("header", ViewBag.culture);

}

<!-- Header -->
<header id="header" class="header"> 
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1><span class="turquoise">@header.AttributeData.Data.Obj.title.Value</span><br /> @header.AttributeData.Data.Obj.title2.Value</h1>
                        <p class="p-large">@header.AttributeData.Data.Obj.description.Value</p>
                        @* <a class="btn-solid-lg page-scroll" href="#services">DISCOVER</a>*@
                            </div> <!-- end of text-container -->
                        </div> <!-- end of col -->
                        <div class="col-lg-6">
                            <div class="image-container">
                                <img class="img-fluid" src="@header.AttributeData.Data.Obj.banner.Value" alt="alternative">
                            </div> <!-- end of image-container -->
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of header-content -->
        </header> <!-- end of header -->
        <!-- end of header -->
