<!-- blog section -->
    <section class="yb-section yb-section-padding" id="blog">
        <div class="yb-section-point-wrapper">
            <div class="uk-container">
                <div class="yb-section-point">
                    <sup>05</sup>
                    <span>Blog</span>
                </div>
            </div>
        </div>
        <div class="uk-container">
            <h2 class="yb-section-title uk-heading-line"><span>Latest News</span></h2>

            <div data-uk-grid class="uk-grid-medium yb-margin-top-1 yb-margin-bottom-2">
                <div class="uk-width-2-3@m ">
                    <a href="light-blog-single.html">
                        <div class="yb-blog-item uk-background-cover" data-src="/content/templates/freda/assets/fredahtml-20/src/img/blog/01.jpg" data-uk-img>
                            <div class="uk-overlay uk-position-cover"> </div>
                            <div class="uk-overlay uk-position-top">
                                <span class="uk-badge">Life Story</span>
                            </div>
                            <div class="uk-overlay uk-position-bottom">
                                <h5 class="yb-blog-item-title uk-text-truncate">This Week’s Top Stories About Holidays</h5>
                                <div class="yb-blog-item-meta">
                                    <div>
                                        <span>May 7, 2019</span>
                                    </div>
                                    <div>
                                        <span data-uk-icon="comment"></span> 120
                                    </div>
                                    <div>
                                        <span data-uk-icon="heart"></span> 89
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-3@m uk-width-1-2@s">
                    <a href="light-blog-single.html">
                        <div class="yb-blog-item uk-background-cover" data-src="/content/templates/freda/assets/fredahtml-20/src/img/blog/02.jpg" data-uk-img>
                            <div class="uk-overlay uk-position-cover"> </div>
                            <div class="uk-overlay uk-position-top">
                                <span class="uk-badge">Life Story</span>
                            </div>
                            <div class="uk-overlay uk-position-bottom">
                                <h5 class="yb-blog-item-title uk-text-truncate">This Week’s Top Stories About Holidays</h5>
                                <div class="yb-blog-item-meta">
                                    <div>
                                        <span>May 7, 2019</span>
                                    </div>
                                    <div>
                                        <span data-uk-icon="comment"></span> 120
                                    </div>
                                    <div>
                                        <span data-uk-icon="heart"></span> 89
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-3@m uk-width-1-2@s">
                    <a href="light-blog-single.html">
                        <div class="yb-blog-item uk-background-cover" data-src="/content/templates/freda/assets/fredahtml-20/src/img/blog/03.jpg" data-uk-img>
                            <div class="uk-overlay uk-position-cover"> </div>
                            <div class="uk-overlay uk-position-top">
                                <span class="uk-badge">Life Story</span>
                            </div>
                            <div class="uk-overlay uk-position-bottom">
                                <h5 class="yb-blog-item-title uk-text-truncate">This Week’s Top Stories About Holidays</h5>
                                <div class="yb-blog-item-meta">
                                    <div>
                                        <span>May 7, 2019</span>
                                    </div>
                                    <div>
                                        <span data-uk-icon="comment"></span> 120
                                    </div>
                                    <div>
                                        <span data-uk-icon="heart"></span> 89
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-3@m uk-width-1-2@s">
                    <a href="light-blog-single.html">
                        <div class="yb-blog-item uk-background-cover" data-src="/content/templates/freda/assets/fredahtml-20/src/img/blog/04.jpg" data-uk-img>
                            <div class="uk-overlay uk-position-cover"> </div>
                            <div class="uk-overlay uk-position-top">
                                <span class="uk-badge">Life Story</span>
                            </div>
                            <div class="uk-overlay uk-position-bottom">
                                <h5 class="yb-blog-item-title uk-text-truncate">This Week’s Top Stories About Holidays</h5>
                                <div class="yb-blog-item-meta">
                                    <div>
                                        <span>May 7, 2019</span>
                                    </div>
                                    <div>
                                        <span data-uk-icon="comment"></span> 120
                                    </div>
                                    <div>
                                        <span data-uk-icon="heart"></span> 89
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-3@m uk-width-1-2@s">
                    <a href="light-blog-single.html">
                        <div class="yb-blog-item uk-background-cover" data-src="/content/templates/freda/assets/fredahtml-20/src/img/blog/05.jpg" data-uk-img>
                            <div class="uk-overlay uk-position-cover"> </div>
                            <div class="uk-overlay uk-position-top">
                                <span class="uk-badge">Life Story</span>
                            </div>
                            <div class="uk-overlay uk-position-bottom">
                                <h5 class="yb-blog-item-title uk-text-truncate">This Week’s Top Stories About Holidays</h5>
                                <div class="yb-blog-item-meta">
                                    <div>
                                        <span>May 7, 2019</span>
                                    </div>
                                    <div>
                                        <span data-uk-icon="comment"></span> 120
                                    </div>
                                    <div>
                                        <span data-uk-icon="heart"></span> 89
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <h5 class="uk-heading-line uk-text-right uk-text-bold">
                <a href="/blog" class="uk-link-heading">
                    See More
                    <span data-uk-icon="icon:arrow-right; ratio: 2"></span>
                </a>
            </h5>
        </div>
    </section><!-- end blog section -->
