@using Mix.Cms.Lib
@using Mix.Cms.Lib.Services
@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel
@{
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
    string templateFolder = MixCmsHelper.GetTemplateFolder(ViewBag.culture);
    var intro = MixCmsHelper.GetModule("Intro", ViewBag.culture);
    var introCat = await Mix.Cms.Lib.MixCmsHelper.GetNavigation("Intro", ViewBag.culture, Url);


}
@if (intro != null)
{
    <div class="yb-full-height " id="home">

        <section class="yb-profile-desc yb-dark-skin uk-light">
            <div class="yb-slide-bg uk-light" tabindex="-1" data-uk-slideshow="animation: fade; autoplay: true; draggable: false; pause-on-hover: false">
                <ul class="uk-slideshow-items yb-slide-wrapper">
                    <li class="uk-background-cover" data-uk-img data-src="src/img/bg/01.jpg">
                        <img src="src/img/empty.png" alt="" data-uk-cover>
                        <div class="uk-overfly uk-position-cover yb-slide-overfly"></div>
                    </li>
                    <li class="uk-background-cover" data-uk-img data-src="src/img/bg/02.jpg">
                        <img src="src/img/empty.png" alt="" data-uk-cover>
                        <div class="uk-overfly uk-position-cover yb-slide-overfly"></div>
                    </li>
                    <li class="uk-background-cover" data-uk-img data-src="src/img/bg/03.jpg">
                        <img src="src/img/empty.png" alt="" data-uk-cover>
                        <div class="uk-overfly uk-position-cover yb-slide-overfly"></div>
                    </li>
                    <li class="uk-background-cover" data-uk-img data-src="src/img/bg/04.jpg">
                        <img src="src/img/empty.png" alt="" data-uk-cover>
                        <div class="uk-overfly uk-position-cover yb-slide-overfly"></div>
                    </li>
                </ul>
            </div>


            <div class="uk-container uk-text-center yb-profile-desc-wrap uk-position-relative">
                <img src="src/img/x1.png" alt="" width="60" />
                <h1 class="uk-text-bold yb-shadow-text"><span>Freda</span> <span>Hamtom</span></h1>
                <div class="uk-text-bold yb-myjob">
                    Im a <span id="typed" class="typed"></span>
                </div>
            </div>
        </section>

    </div><!-- end home section -->

}
